* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #363636;
    list-style: none;
}

body {
    background: #838383 !important;
}

#chart {
    max-width: 100%;
    height: auto;
    height: intrinsic;
}

.tick text {
    font-size: .8rem;
}

#tooltip {
    position: absolute;
    text-align: center;
    color: white;
    height: auto;					
    padding: 10px;
    border: 0px;
    border-radius: 3px;
    background: black;
    pointer-events: none;
    opacity: 0;
}

.list-group {
    z-index: 1;
}

.list-group-item:hover {
    background-color: rgb(217, 232, 255);
}

h1 {
    font-size: clamp(.5rem, 3.5vw, 2.5rem) !important;
}

ul, input {
    font-size: clamp(.6rem, 3.5vw, 1rem) !important;
}

.rect {
    display: block;
    width: clamp(.6rem, 3.5vw, 1.2rem) !important;
    height: clamp(.6rem, 3.5vw, 1.2rem) !important;
}

#map {
    height: 360px;
}

@media (max-width: 430px) {
    main, .map-cont {
        padding: 0 !important;
    }
}